.aboutus-hero-container {
    flex-direction: column;
    align-items: center;
}
.aboutus-parent-container {
    padding: 1.25rem;
    max-width: 1024px;
    margin: auto;
    gap: 2rem;
}


.svg-position {
    position: relative;
    top: 1.9rem;
    left: -2.2rem;
    border: 1px solid grey;
    border-radius: 50%;
    background-color: white;
}
.vertical-line {
    border-left: 1px solid grey; /* Adjust the color and thickness as needed */
    height: 15rem;
    padding-right: 1rem;
    margin-top: 1.9rem;
  }
  .howitworks-parent {
    flex-direction: column;
  }
  .testimonials-svg {
    top: 1rem;
  }
  .testimonial-parent {
    flex-direction: column;
}

@media screen and (min-width: 1024px){
    .aboutus-hero-container {
        flex-direction: row
    }
    .aboutus-hero-container>div {
        width: 100%;
    }
    .hero-image-align {
        width: 100%;
        max-width: none!important;
        height: 100%;
    }
    .howitworks-parent {
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
    .testimonial-parent {
        flex-direction: row;
    }
    .testimonial-parent>div{
        width: 100%;
    }
    .testimonials-svg {
        left: -1.2rem!important;
        top: 1.6rem!important;
      }
  }