.selectlevel-container-parent {
    max-width: 1024px;
    margin:4rem auto;
    gap: 2rem;
    padding: 0 1.5rem;
}
.lang-children-parent,.exp-children-parent,.qns-children-parent {
    flex-direction: column;
    align-items:center
}
.lang-children-parent>div,.exp-children-parent>div,.qns-children-parent>div {
    width: 100%;
}
.loader-container {
    height: 90vh;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 0 1.5rem;
}
.required-symbol::after {
    content: " *";
    color: var(--primary-color-red);
}

@media screen and (min-width: 768px) {
    .lang-children-parent,.exp-children-parent,.qns-children-parent {
        flex-direction: row;
    }
    .loader-container {
        font-size: 1.5rem;
    }
}
