.features-cart {
    width: 17rem;
}
.border-right {
    border-right: 1px solid lightgrey;

}
.features-card-container {
    padding: 3rem 0;
    flex-wrap: wrap;
}
.features-card-container>div {
    flex-grow: 1
}

