.editor-parent {
    height: calc(100% - 57px);
    border-radius: 5px;
    margin-top: 10px;
}
.editor-parent>div{
    flex-direction: column;
}
span.Resizer.vertical {
    width: 10px;
    background: black;
    cursor: col-resize;
}
.span.Resizer.vertical:hover {
    background:orangered
}
.Pane.vertical.Pane1 {
    overflow: scroll;
}

.SplitPane.vertical {
    height: 90vh!important;
    margin-bottom: 5px;
}

@media screen and (min-width: 1024px) {
    .editor-parent>div{
        flex-direction: row;
    }
}