
.about-hero-container {
    height: 40rem;
    font-size: 3rem;
    letter-spacing: 0em;
    line-height: 1.1;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content:center;
}
.hero-text-parent {
    display: flex;
    justify-content:center;
    align-items:center;
    height:70vh;
    flex-direction: column;
    color: white;
    gap: 2rem;
}
.hero-text-btn-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
}
.btn-secondary {
    background-color:grey;
    color: var(--white-color);
}