.hero-heading {
    font-size: 2.2rem;
    width: 80%;
    text-align: left;
    overflow-wrap: break-word;
    font-weight: bold;
    line-height: 3rem;
}
.hero-image-align {
    width: 100%;
    max-width: none!important;
}
.hero-container {
    align-items: center;
}
.hero-container>div>div{
    max-width: 100% !important;
}
.hero-input-button {
      flex-direction: column;  
}
.hero-btn {
    width: 8rem;
}
@media screen and (min-width: 460px) {
    .hero-container {
        margin: auto;
    }
    .hero-btn {
        width: 10rem;
    }
    .hero-input-button {
        flex-direction: row; 
    }
    .hero-heading {
        font-size: 3rem;
        line-height: 4rem;
        width: 100%;
    }
}
@media screen and (min-width: 640px) {
    .hero-container {
        margin: auto;
    }
   
}
@media screen and (min-width: 760px) {
    .hero-container {
        margin: auto;
    }
    .hero-image-container>div>img{
        height: 80% !important;
    }
   
}
@media screen and (min-width: 1024px) {
    .hero-container {
        flex-direction: row!important;
        padding-top: 4rem;
    }
    .hero-container>div>div{
        height: 100% !important;
    }
    .hero-image-container>div>img{
        height: 100% !important;
    }
    .hero-image-container {
        width: 100%;
    }
}