.feedback-header {
    justify-content: space-between !important;
    background-color: rgb(72, 72, 184);
    color: whitesmoke;
    opacity: 0.8;
}
.rating-border {
    border: 1px solid grey;
    border-radius: 100%;
    padding: 0.25rem 0.5rem;
    background-color: white;
}
.feedback-parent {
    justify-content:center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
    max-width: 1024px;
    margin: auto

}
.divider-margin-negative {
    margin-left: -1rem;
}
