.feedback-container-parent {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    gap: 2rem;
    

}
.feedback-single-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 50%;
}
.feedback-question {
    color: blue
}
.feedback-feedback {
    color: #ea00ff
}

.feedback-step {
    padding-left:2rem
}
.loader-container {
    width: 80%;
    margin:auto;
}
.correct { 
    color: green
}
.partially-correct {
    color: rgb(255, 123, 0)
}
.incorrect { 
    color: red
}