.process-flow-container {
    gap: 1rem;
    flex-wrap: wrap;

}
.features-cart {
    width: 17rem;
}

@media screen and (min-width: 1120px) {
    .features-cart {
        width: 18rem;
    }
}
@media screen and (min-width: 1220px) {
    .features-cart {
        width: 21rem;
    }
}
@media screen and (min-width: 1370px) {
    .features-cart {
        width: 24rem;
    }
}
@media screen and (min-width: 1470px) {
    .features-cart {
        width: 27rem;
    }
}