.App {
  width: 100vw;
  margin: 0;
  border: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Space Grotesk", "Space Grotesk Placeholder", sans-serif;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
*{
  --app-background-color: rgb(31, 30, 30);
  --app-border-color: #ccc;
}
.logo {
  letter-spacing:5px;
  color: var(--primary-color-blue);
  font-weight: bold;
}
.btn-active {
  background-color:var(--primary-color-green);
  color: var(--white-color)
}
.cursor-pointer {
  cursor: pointer;
}

.error-visible {
  color: var(--primary-color-red);
}
